.actor-details {
  text-align: center;
}

.actor-details img {
  max-width: 100%;
  border-radius: 10px;
}

.actor-details h2 {
  margin-top: 20px;
}

.actor-details ul {
  list-style: none;
  padding: 0;
}

.movie-details {
  padding: 10px;
}
